* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-------------------------*/

body {
    font-family: montserrat;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    max-width: 1400px;
    margin: 0 auto;
    flex: 0 auto;
}
.block__1{
color: #FFA300;
border:solid #FFA300 ;
border-radius: 20px;
padding: 40px;
margin: 30px;
height:min-content;
flex: 0 1 57%;
}
.block__3{
    border-radius: 20px;
    border:solid;
    padding: 40px;
    margin: 30px;   
    justify-content:flex-start;
    height: fit-content;
    flex: 0 1 57%;
}
.block__2{

    height:1rem;
    flex: 1 1 33%;
}

.block__2 p{
    padding: 40px;
    margin: 30px;
    color: #9A9A9A;
    border:solid;
    border-radius: 20px;
    flex: 0 1 33%;
}

.blocks__row{   
    display:flex;     
    flex-wrap: wrap;
    flex-shrink:0;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
}


    @media (max-width:954px){
        .block__2{
            height: auto;
        }
        .block__3,
        .block__1{
            flex: 0 1 100%;
        }
    }
    @media (max-width:376px){
        .blocks__row{
            font-size: 14px;
        }
        .block__2{
            height: auto;
        }
        .block__2 p{
            margin: 10px 20px;
            padding: 20px;
            flex: 0 1 100%;
        }
        .block__3,
        .block__1{
            margin: 10px 20px;
            padding: 20px;
            flex: 0 1 100%;
        }
        .blocks__1n2{
            flex: 0 1 100%;
        }
    }